//Colors

$color-primary: #696A86;
$Dark-Red: #fd5540;
$Light-Red: #e64d3a;
$Dark-Blue: #008891; 
$Light-Blue: #00b1bd;
$Very-Light-Blue: #00c3d0;
$Dark-Yellow: #dfaf49;
$Light-Yellow: #f5c150;
$Dark-Grey: #434a54;
$Very-Dark-Grey: #353a41;
$Light-Grey: #9aa0ab;
$Very-Light-Grey: #b5babf;
$Background: #f8f8f2;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 108rem;
$grid-width-footer: 95rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;