

.feature-box-flex {
    display: flex;

    @include respond (phone) {
        flex-wrap: wrap;
        padding: 0 20%;
    }
    
}

.feature-box {
    background-color: $color-white;
    padding: 2.5rem;
    text-align: center;
    
    
    transition: all .1s;
    &__text {
            line-height: 20px;
            font-weight: 400;
            font-size: 1.5rem;

            &--2 {
                @include respond(small-phone) {
                    padding: 0 2rem;
                }
            }

    }

    &--1{
        &:hover {
            border: 1px solid #9D9D9D;
            box-sizing: border-box;
            border-radius: 5px;
            border-bottom: 7px solid #C4C4C4;
        }
    }

    &--2 {
        position: relative;
        width: 44.2rem;
        // height: 54.5rem;
        background: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 5rem;
        display: flex;
        flex-direction: column;        
    }

    
}

.fb-center {
    display: flex;
    justify-content: center;
}

.feature-box--respond {
    display: flex;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
        align-self: center !important;
    }

    @include respond(small-phone) {
        width: 3rem;
    }
}