.u-center-text { text-align: center; }
.u-margin-bottom-12 { margin-bottom: 1.2rem; }
.u-text-sec-margin-92 {  margin-top: 9.2rem;
    margin-bottom: 13.9rem; }
.u-width-493rem { width: 49.3rem; }
.u-align-vertical { align-self: center; }
.u-margin-top-12 { margin-top: 26rem; }
.u-margin-bottom-20 { margin-bottom: 2rem; }
.u-margin-bottom-30 { margin-bottom: 3rem; }
.u-margin-top-bottom-fb { margin: 16.2rem 0 10rem 0; }

